<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    id="cordova-plugin-clippingcamera"
    version="1.0.0">
    <name>ClippingCamera</name>
    <description>Cordova ClippingCamera Plugin</description>
    <keywords>cordova,camera</keywords>

    <js-module src="www/ClippingCamera.js" name="clippingCamera">
        <clobbers target="navigator.clippingCamera" />
    </js-module>


     <!-- ios -->
     <platform name="ios">
         <config-file target="config.xml" parent="/*">
             <feature name="ClippingCamera">
                 <param name="ios-package" value="ClippingCamera" />
             </feature>
         </config-file>

         <resource-file src="src/ios/ClippingCamera.bundle" />
         <!--
         <resource-file src="src/ios/en.lproj/InfoPlist.strings" target="en.lproj/InfoPlist.strings" />
         <resource-file src="src/ios/de.lproj/InfoPlist.strings" target="de.lproj/InfoPlist.strings" />
         <resource-file src="src/ios/fr.lproj/InfoPlist.strings" target="fr.lproj/InfoPlist.strings" />
         <resource-file src="src/ios/it.lproj/InfoPlist.strings" target="it.lproj/InfoPlist.strings" />
          -->

         <header-file src="src/ios/ClippingCamera.h" />
         <source-file src="src/ios/ClippingCamera.mm" />
         <header-file src="src/ios/ClippingCameraViewController.h" />
         <source-file src="src/ios/ClippingCameraViewController.mm" />
         <source-file src="src/ios/ClippingCameraViewController.xib" />

         <framework src="src/ios/opencv2.framework" custom="true" />

         <preference name="CAMERA_USAGE_DESCRIPTION" default="Captured photo will be sent to the server." />
         
         <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
             <string>$CAMERA_USAGE_DESCRIPTION</string>
         </config-file>

         <preference name="PHOTOLIBRARY_USAGE_DESCRIPTION" default=" " />
         <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
             <string>$PHOTOLIBRARY_USAGE_DESCRIPTION</string>
         </config-file>

         <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
             <string></string>
         </config-file>
         <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
             <string>Captured photo will be sent to the server.</string>
         </config-file>
         <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
             <string>(not used in this App!!)</string>
         </config-file>
     </platform>
     <platform name="windows">
         <js-module src="src/windows/ClippingCameraProxy.js" name="ClippingCameraProxy">
             <merges target=""/>
         </js-module>
         <config-file target="package.appxmanifest" parent="/Package/Capabilities">
             <DeviceCapability Name="webcam"/>
         </config-file>
         <config-file target="package.appxmanifest" parent="/Package/Extensions">
             <Extension Category="windows.activatableClass.inProcessServer">
                <InProcessServer>
                    <Path>ClippingCamera.dll</Path>
                    <ActivatableClass ActivatableClassId="ClippingCamera.ImageClipping" ThreadingModel="both" />
                </InProcessServer>
             </Extension>
         </config-file>
         <framework src="src/windows/lib/ClippingCamera/ClippingCamera.vcxproj" custom="true" type="projectReference" target="windows"  versions="8.1"/>
         <framework src="src/windows/lib/ClippingCamera/ClippingCamera.Phone.vcxproj" custom="true" type="projectReference" target="phone" versions="8.1"/>
         <framework src="src/windows/lib/ClippingCamera/ClippingCamera.UWP.vcxproj" custom="true" type="projectReference" target="windows" versions=">8.1"/>
         <asset src="src/windows/assets/plugin-clippingCamera.css" target="css/plugin-clippingCamera.css"/>
     </platform>
</plugin>
